html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* hides horizontal scrollbar */
  }
  * {
    box-sizing: border-box;
  }

  .font {
    font-family: Eudoxussans, sans-serif;
  }

  html {
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
    font-size: 16px;
  }

  h1 {
    font-size: clamp(1rem, 2rem, 3rem); /* Responsive font size */
  }

  /* Media Query for Smaller Screens */


.menubutton{

    color: black;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    cursor: pointer;
    font-size: 0.85rem;
    text-decoration: none;  /* Removes underline from the link */

}

.menubutton:hover{
    color: rgba(128, 0, 128, 1);
    
    font-weight: bold;

}

.menubutton.active {
    background-color: purple;  /* Purple for the Home button */
  }

/* Initial State - off-screen */
.transitionleft,
.transitionright {
    position: relative;
    opacity: 0;
    transition: transform 0.8s ease-in-out, opacity 0.3s ease-in-out;
}

/* Position off-screen */
.transitionleft {
    transform: translateX(-100%); /* Move to the left */
}

.transitionright {
    transform: translateX(100%); /* Move to the right */
}

/* Final state when you add a class to trigger the animation */
.transitionleft.show,
.transitionright.show {
    opacity: 1;
    transform: translateX(0); /* Move to the final position */
}