html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* hides horizontal scrollbar */
  }
  * {
    box-sizing: border-box;
  }

  .font {
    font-family: Eudoxussans, sans-serif;
  }

  html {
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
    font-size: 16px;
  }

  h1 {
    font-size: clamp(1rem, 2rem, 3rem); /* Responsive font size */
  }

  /* Media Query for Smaller Screens */


.menubutton{

    color: black;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    cursor: pointer;
    font-size: 0.85rem;
    text-decoration: none;  /* Removes underline from the link */

}

.menubutton:hover{
    color: rgba(128, 0, 128, 1);
    
    font-weight: bold;

}

.menubutton.active {
    background-color: purple;  /* Purple for the Home button */
  }

/* Initial State - off-screen */
.transitionleft,
.transitionright {
    position: relative;
    opacity: 0;
    transition: transform 0.8s ease-in-out, opacity 0.3s ease-in-out;
}

/* Position off-screen */
.transitionleft {
    transform: translateX(-100%); /* Move to the left */
}

.transitionright {
    transform: translateX(100%); /* Move to the right */
}

/* Final state when you add a class to trigger the animation */
.transitionleft.show,
.transitionright.show {
    opacity: 1;
    transform: translateX(0); /* Move to the final position */
}



.messagesdiv {

  display: flex;
  width: 100%;


}


.bemessage {

  max-width: 100%;

  display: flex;
  
  justify-content: flex-start;

  align-items: center;

  background-color: purple;

  color: white;
  font-size: 0.85rem;
  border-radius: 10px;

  padding: 5px;

  line-break: auto;

  word-wrap: break-word;

  line-height: 1.6;


}

.usermessage {

  max-width: 100%;

  display: flex;
  
  justify-content: flex-start;

  align-items: center;

  background-color: white;

  color: black;

  font-size: 0.85rem;
  border-radius: 10px;

  border: 1px solid black;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  padding: 5px;

  line-break: auto;

  word-wrap: break-word;

  line-height: 1.6;

}


